@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #93032E;
}

@font-face {
  font-family: 'Monoton';
  src: url('/fonts/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.monoton-regular {
  font-family: 'Monoton', sans-serif !important;
}